################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CrudNetCoreApiDemo/.vs/CrudNetCoreApiDemo/v16
